.button1{
     width: 40px;
     height: 40px;
     background-color: rgb(148, 148, 195);
}
.heads{
     background-color: rgb(83, 135, 174);
}
body{
     background-color: rgb(131, 148, 163);
}
.UZN{
    background-color: rgb(53, 62, 71); 
    border-color: black;
}
.UZN:hover{
     background-color: rgb(114, 123, 131);
}
.SLOVA{
     font-weight: 600;
}